.container {
  display: flex;
  justify-content: center;
  transform: translate3d(0);
}

.dot {
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: #36D7B7;
  margin: 0 4px;
  animation: increase 0.9s alternate infinite;
}

.dot:nth-child(2) {
  background-color: #9dded1;
  animation-delay: 0.3s;
}

.dot:last-child {
  animation-delay: 0.6s;
}

@keyframes increase {
  to {
    height: 15px;
    width: 15px;
    transform: translate3d(0, -15px, 0);
  }
}